@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Postavke lozinke:";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/Role.css" />
<style>

    h3 {
        font-size: 45px;
        color: black;
        font-weight: 900;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-shadow: 3px 0 rgb(182 255 0);
        padding-left: 65px;
        text-transform: uppercase;
        padding-bottom: 16px;
    }
</style>
<div style="padding-left:270px; padding-bottom:40px;">
    <img style="width:100px;" src="~/Slike/lozinka.png" />
</div>
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row" style="text-align:end; padding-left:65px;">
    <div class="col-md-6" style="color:deeppink">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control bg" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." style="width:500px;" />
                <label asp-for="Input.OldPassword" class="form-label" style="color:deeppink; font-weight:900;">Trenutna loznika</label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control bg" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." style="width:500px;" />
                <label asp-for="Input.NewPassword" class="form-label" style="color:deeppink; font-weight:900;">Nova lozinka</label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control bg" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." style="width:500px;" />
                <label asp-for="Input.ConfirmPassword" class="form-label" style="color:deeppink; font-weight:900;">Potvrda nove lozinke</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div style="text-align:center; padding-left:70px;">
            <button type="submit" class="btn btn-dark dugmeDodaj" style="margin-top:15px;background-color:deeppink; border:none;width:150px;">Sačuvaj</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
