@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "USPEŠNO STE REGISTROVANI";
}
<style>
    body{
    z-index:50;
        background-color: black !important;
    background-image: none;
    }
   @* header{
        display: none;
    }
    *@
    footer{
    position:fixed !important;
    display:none;
    }

    .dugme {
        background-color: greenyellow;
        font-weight: 900;
        border: 2px solid greenyellow;
        border-radius: 10px;
        font-size: 17px;
    }

    .dugme:hover{
            border: 2px solid deeppink;
            background-color: deeppink;
    }

</style>

<link rel="stylesheet" href="~/css/Role.css" />
<div style="text-align:center"><img src="~/Slike/welcome.gif" alt="Alternate Text" style="width:100%;margin-bottom:60px;  filter: contrast(150%) brightness(110%);" /></div>

@if (!User.Identity.IsAuthenticated)
    {
<div style="text-align:center">
    <button id="loginButton" class="btn dugme">Prijavi se</button>
</div>
    }

<script>
    document.getElementById("loginButton").addEventListener("click", function () {
        window.location.href = '/Identity/Account/Login';
    });
</script>