@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zaboravili ste lozinku?";
}
<style>
 .footer {
        position: relative;
    }

    .uvod {
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 28.5px;
        font-weight: bolder;
        margin-left: 15px;
        margin-right: 15px;
        color: grey;
    }

    .texxt {
        color: deeppink;
        font-weight: 900;}

    .dugmeDodaj {
        background-color: deeppink;
        color: white;
        font-weight: 900;
        border: 2px solid deeppink;
        border-radius: 10px;
        font-size: 30px;
        margin-bottom: 150px;
    }

    .dugmeDodaj:hover {
        border: 2px solid deeppink;
        color: yellowgreen;
        background-color: deeppink;
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚙</text></svg>") 16 0,auto;
    }

    .bg {
        background-color: rgba(209, 247, 148, 0.5)
    }

    .dugmeDodaj {
        margin-bottom: 50px;
    }
</style>

<link rel="stylesheet" href="~/css/Role.css" />
<h1 class="naslov">@ViewData["Title"]</h1>

    <div class="col-md-4 mx-auto" style="width:700px;">
    <h2 class="uvod">Unesite email adresu</h2>
    <hr />
    <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control bg" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="texxt"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div style="text-align:center">
        <button type="submit" class="btn btn-dark dugmeDodaj" style="margin-top:30px;">Reset Password</button>
        </div>
    </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
