@{
    ViewData["Title"] = "M-RENT";
}

<br>

<style>
    body {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0;
        padding: 0;
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚗</text></svg>") 16 0,auto;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 40px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
        margin-bottom:70px;
    }

    .content {
        margin-top: 20px;
    }

    h2 {
        color: #555;
        margin-top: 30px;
    }

    p {
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .kontaktinfo {
        margin-top: 30px;
        text-align: center;
        color: #777;
    }

    .kontaktinfo a {
            color: deeppink;
            text-decoration: none;
    }

    .kontaktinfo a:hover {
                text-decoration: underline;
    }

    .footer {
        position: relative;
    }

    .img{
       width:150px;
       padding-bottom:20px;
       margin:auto;
       justify-content:center;
       padding-left:10px;
    
    }

</style>

<body>
    <div style="text-align:center"><img src="~/Slike/logo.png" class="img"/></div>
    
    <div class="container">
        <header style="text-align: center; color: #333;">
            <h1>Politika privatnosti</h1>
        </header>
        <section class="content">
            <p>
                Dobrodošli na veb lokaciju M-RENT-a, rent-a-car agencije sa sedištem u Loznici. Ova politika privatnosti opisuje kako prikupljamo, koristimo, otkrivamo i štitimo lične podatke koje dobijemo od posetilaca naše veb lokacije.
            </p>
            <h2>Prikupljanje Informacija</h2>
            <p>
                Prilikom posete naše veb lokacije, možda ćemo vas zamoliti da nam pružite određene lične informacije, uključujući vašu adresu e-pošte i broj telefona. Ove informacije koristimo isključivo kako bismo vam pružili informacije o našim uslugama i prilagođene ponude.
            </p>
            <h2>Korišćenje Informacija</h2>
            <p>
                Vaše lične informacije koristimo samo u svrhe za koje su nam date. To može uključivati slanje novosti o našim najnovijim ponudama, obaveštenja o promenama u uslugama ili odgovore na vaše upite putem e-pošte ili telefona.
            </p>
            <h2>Otkrivanje Informacija Trećim Stranama</h2>
            <p>
                Vaše lične informacije nećemo deliti, prodavati ili iznajmljivati trećim stranama bez vašeg pristanka, osim ako to nije neophodno radi pružanja usluga koje tražite od nas.
            </p>
        </section>
        <div class="kontaktinfo">
            <p>Za dodatne informacije kontaktirajte nas na <a href="mailto:markop1609@gmail.com">markop1609@gmail.com</a> ili pozivom na broj telefona <a href="tel:+381631628581">+381 63 162 8581</a>.</p>
        </div>
    </div>

</body>